.qrcode-cla{
    // justify-self: end;
    // width: 100px;
    // height: 100px;
    // margin-top: 25px;
}
.header-text{
    margin: 5px;
    padding: 20px;
    font-size: 35px;
    font-weight: 700;
    // width:780px;
}

.certificate-container{
    margin-top: 40px;
    width:770px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}