.intro H1 {

    font-size: 60px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255,255,255,0.9);
  }
  
  .intro H2 {
  
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: rgba(255,255,255,0.9);
  }
  .intro .brand {
    color: #25BAD0;
    font-weight: 700;
  }